{% extends "base.html.twig" %}

{% block body %}
 Terminado el script, visualice los datos en bbdd.

 Hemos realizado {{ counter }} peticiones a urls;
 Si el campo url esta vacío no se habrá realizado una petición.
{% endblock %}
